@charset UTF-8;

.quadrado1{
    display: inline-block;
    border: 3px, solid, black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
#q1{
    background-color: red;
}
#q2{
    background-image: linear-gradient(to bottom, red, green, blue);
}
#q3{
    background-image: url('pattern001.png');
}

.quadrado2{
    display: inline-block;
    border: 3px, solid, black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
#q4{
    background-color: green;
}
#q5{
    background-image: linear-gradient(to top, red, green, blue);
}
#q6{
    background-image: url('pattern002.png');
}

.quadrado3{
    display: inline-block;
    border: 3px, solid, black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
#q7{
    background-color: blue;
}
#q8{
    background-image: linear-gradient(to left, red, green, blue);
}
#q9{
    background-image: url('pattern003.png');
}

.quadrado4{
    display: inline-block;
    border: 3px, solid, black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
#q10{
    background-color: black;
}
#q11{
    background-image: linear-gradient(to right, red, green, blue);
}
#q12{
    background-image: url('pattern004.png');
}